/*
 * 头部样式
 */
.layui-layout-admin .layui-header{
	background-color:#fff;
	position: fixed;
	min-width: 800px;
}
.layui-header{
	height:60px;
	width:100%;
	position:relative;
	box-shadow: 0 2px 7px #ddd;
}

/*
 * 弹出框样式
 */
.layui-layer-title{
	background-color:#fff;
	text-align: center;
	padding:0;
	color:#585858;
	border-bottom: none;
    font-size: 15px;
    margin-top:3px;
}
.layui-layer-setwin{
	top:15px;
}
.layui-layer-setwin .layui-layer-close1{
	background:url(../img/icon_layer_close.png) center no-repeat;
	background-size: 13px;
}
.btn_position_t-30 .layui-layer-btn{
    margin-top: -30px;
}
.layui-layer-btn a{
	border:1px solid #DDDFE3;
	padding:3px 44.5px;
	background-color:#fff;
}
.layui-layer-btn .layui-layer-btn0{
	color:#fff;
	background-color:#3F464B;
	border:1px solid #3F464B;
}

.tips-i-position-left_45 i.layui-layer-TipsB{
	left:45px;
}

/*
 * layer-tips-box 
 * 提示框样式（带小箭头）
 * 箭头默认在右上角
 */

.layui-layer.layer-tips-box{
	box-shadow: 4px 4px 10px rgba(0,0,0,.1);
	border:1px solid #f6f6f6;
	border-radius: 4px;
}
.layui-layer.layer-tips-box.position_t65_l-10{
	margin-top:65px;
	margin-left:-10px;
}
.layui-layer.layer-tips-box.position_t-10_l50{
	margin-top:-10px;
	margin-left:50px;
}
.layui-layer.layer-tips-box .layui-layer-title,
.layui-layer.layer-tips-box .layui-layer-setwin{
	display:none;
}
.layui-layer.layer-tips-box:before,
.layui-layer.layer-tips-box:after{
	content: "";
	width:0;
	height:0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid #f0f0f0;
	position:absolute;
	right:18px;
	top:-12px;
}
.layui-layer.layer-tips-box:after{
	border-bottom: 12px solid #fff;
	top:-11px;
}
.layui-layer.layer-tips-box.tl:before{
	border-bottom: 12px solid #f0f0f0;
	left:30px;
}
.layui-layer.layer-tips-box.tl:after{
	border-bottom: 12px solid #fff;
	left:30px;
}
.layui-layer.layer-tips-box.lc:before{
	border-bottom: 12px solid #f0f0f0;
	left:-16px;
	top:50%;
	transform: translateY(-50%) rotate(-90deg);
}
.layui-layer.layer-tips-box.lc:after{
	border-bottom: 12px solid #fff;
	left:-15px;
	top:50%;
	transform: translateY(-50%) rotate(-90deg);
}
/*
 * form 表单模块样式
 */
.layui-input-block .layui-input.disabled,
.layui-input-block .layui-input[disabled='disabled'],
.layui-input-block .layui-input[disabled='disabled']:hover{
	border-color: #F5F5F5 !important;
	background-color:#F5F5F5 !important;
}
.layui-input-block a{
	position: absolute;
    right: 0;
    top: 4px;
    height: 30px;
    line-height: 30px;
    font-size:13px;
    display: block;
    width: 90px;
    text-align: center;
    color: #79A9F4;
    border-left: 1px solid #E7E7E7;
}

/**
 * form表单样式
 */
.layer-form-1{
	padding:20px 40px;
}
.layer-form-1 .layui-form-item {
	margin-bottom: 10px;
}
.layer-form-1 .layui-input-block{
	margin-left:0;
}
.layer-form-1 .layui-input-block a{
	color:#4E4E4E;
}

/*
 * 页面布局
 */
.layui-layout-nofoot .layui-body{
	bottom:0;
}
.layui-layout-nonav .layui-body{
	left:0;
}
.ypage-layout{
	padding-top:100px;
	min-width: 900px;
	position:relative;
}
.ypage-layout .ypage-header{
	height:100px;
	position:fixed;
	top:60px;
	overflow: hidden;
	z-index: 10;
	width:70%;
	
}
.ypage-layout .ypage-header .ypage-header-title{
	line-height: 110px;
	font-size:15px;
	background-color: #F6F6F6;
	display:block;
}
.ypage-layout .ypage-body{
	padding:10px 100px 10px 0;
}

.layer-tips-white{
	margin-left:-15px;
}
.layer-tips-white .layui-layer-content{
	background-color:#fff;
	color:#23262E;
	padding:10px 0px;
}

.layui-layer.layer-tips-box.layer-tips-white:after,
.layui-layer.layer-tips-box.layer-tips-white:before{
	content:none;
}
.layui-layer.layer-tips-white .layui-layer-content i{
	/*border:none;*/
	border-color:rgba(0,0,0,0);
}
.layui-layer.layer-tips-white .layui-layer-content i:before,
.layui-layer.layer-tips-white .layui-layer-content i:after{
	content: "";
	width:0;
	height:0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 12px solid #f0f0f0;
	position:absolute;
	top:-12px;
}
.layui-layer.layer-tips-white .layui-layer-content i:after{
	border-bottom: 12px solid #fff;
	top:-11px;
}
.layui-layer.layer-tips-white .layui-layer-content i:before,
.layui-layer.layer-tips-white .layui-layer-content i:after{
	left:-2px;
}
.layui-layer.layer-tips-white .layui-layer-content i.layui-layer-TipsG.layui-layer-TipsB:before{
	top:-12px;
}
.layui-layer.layer-tips-white .layui-layer-content i.layui-layer-TipsG.layui-layer-TipsB:after{
	top:-11px;
}
.layui-layer.layer-tips-white .layui-layer-content i.layui-layer-TipsG.layui-layer-TipsT:before{
	top:1px;
	transform: rotate(180deg);
}
.layui-layer.layer-tips-white .layui-layer-content i.layui-layer-TipsG.layui-layer-TipsT:after{
	top:0px;
	transform: rotate(180deg);
}
.layui-layer.layer-tips-white .layui-layer-content i.layui-layer-TipsG.layui-layer-TipsR:before{
	top:0px;
	left:-16px;
	transform: rotate(-90deg);
}
.layui-layer.layer-tips-white .layui-layer-content i.layui-layer-TipsG.layui-layer-TipsR:after{
	top:0px;
	left:-15px;
	transform: rotate(-90deg);
}
.layui-layer.layer-tips-white .layui-layer-content i.layui-layer-TipsG.layui-layer-TipsL:before{
	top:0px;
	left:-4px;
	transform: rotate(90deg);
}
.layui-layer.layer-tips-white .layui-layer-content i.layui-layer-TipsG.layui-layer-TipsL:after{
	top:0px;
	left:-5px;
	transform: rotate(90deg);
}